PORT=3001
SUPABASE_URL=https://cetqlhrlozhqtignpcir.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNldHFsaHJsb3pocXRpZ25wY2lyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMzQxNjIsImV4cCI6MjA4NzYxMDE2Mn0.NToACJT3IEEr6EdVXOxYVppklGLY3wVzuC8oIsGKYfg
JWT_SECRET=abhimat2026parliamentarysessionsecretkey!
CLIENT_URL=http://localhost:5173